body {
  background-color: #8cc1e2;
}

.image_container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.image_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.image_item {
  max-width: 80%;
  height: auto;
}
